snippet fun
	function ${1}(${2}) {
		${3}
	}
snippet f
	function(${1}) {
		${2}
	}
snippet if
	if (${1}) {
		${2}
	}
snippet el
	else {
		${1}
	}
snippet des
	describe('${1}', function() {
		${2}
	});
snippet it
	it('${1}', function() {
		${2}
	});
snippet cl
	console.log(${1});
