snippet def
def ${1}
  ${2}
end
endsnippet

snippet cla
class ${1}
  ${2}
end
endsnippet

snippet mod
module ${1}
  ${2}
end
endsnippet

snippet do
do
  ${1}
end
endsnippet

snippet pry
binding.remote_pry
endsnippet
