snippet fun
function ${1}(${2}) {
  ${3}
}
endsnippet

snippet f
function(${1}) {
  ${2}
}
endsnippet

snippet if
if (${1}) {
  ${2}
}
endsnippet

snippet el
else {
  ${1}
}
endsnippet

snippet des
describe('${1}', function() {
  ${2}
});
endsnippet

snippet it
it('${1}', function() {
  ${2}
});
endsnippet

snippet cl
console.log(${1});
endsnippet

snippet for
for (var i=0; ${1}; i++) {
  ${2}
}
endsnippet
